<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>${project.artifactId}</name>
    <displayname>${display-name}</displayname>
    <version>${project.version}</version>
    <description>${module-description}</description>
    <vendor>${main-developer}</vendor>
    <components>
        <public>
            <name>logging-console-button</name>
            <displayname>Logging Console</displayname>
            <class>de.marza.firstspirit.modules.logging.toolbar.LoggingViewToolbarItemsPlugin</class>
        </public>
    </components>
    <resources>
        <resource scope="module">lib/console-${project.version}.jar</resource>
        <resource scope="module">lib/toolbar-${project.version}.jar</resource>
    </resources>
</module>
